.box
  .box-wrapper
    .box-header
      i.settings-icon
      span.header-text
        | {{ 'navigation.plans' | translate }}
    .box-content.clearfix
      .text-center.full-width
        h4
          | {{ 'label.topUpDetails' | translate }}
      form.form.in-middle(novalidate='', name='passDetailForm', ui-keypress="{13:'ctrl.addNewPlan()'}")
        label(for='activationStartDate')
          | {{ 'label.activationStartDate' | translate }}
        input#activationStartDate(name='activationStartDate', type='text', required='', ng-model='pass.activationStartSate', server-validation='')
        span.error.required(ng-show='passDetailForm.activationStartDate.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='activationEndDate')
          | {{ 'label.activationEndDate' | translate }}
        input#activationEndDate(name='activationEndDate', type='text', required='', ng-model='pass.activationEndSate', server-validation='')
        span.error.required(ng-show='passDetailForm.activationEndDate.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='client')
          | {{ 'label.client' | translate }}
        select#client(name='client', required='',  ng-model='plan.clientType',
        ng-options='client.clientType as client.clientType for client in clients')
        span.error.required(ng-show='passDetailForm.client.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='volume')
          | {{ 'label.volume' | translate }}
        input#volume(name='volume', type='text', required='', ng-model='plan.volume', server-validation='')
        span.error.required(ng-show='passDetailForm.volume.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='currency')
          | {{ 'label.currency' | translate }}
        select(id='currency', name='currency', required='', ng-model='plan.currency',
        ng-options='currency as currency for currency in currencies')
        span.error.required(ng-show='passDetailForm.currency.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='description')
          | {{ 'label.description' | translate }}
        input(id='description', name='description', type='text', required='', ng-model='plan.description')
        span.error.required(ng-show='passDetailForm.description.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='price')
          | {{ 'label.price' | translate }}
        input(id='price', name='price', type='text', required='', ng-model='plan.price')
        span.error.required(ng-show='passDetailForm.price.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='purchaseNetworkGroup')
          | {{ 'label.purchaseNetworkGroup' | translate }}
        select(id='purchaseNetworkGroup', name='purchaseNetworkGroup', required='' ng-model='plan.purchaseNetworkGroup',
        ng-options='networkGroup.id as networkGroup.name for networkGroup in networkGroups')
        span.error.required(ng-show='passDetailForm.purchaseNetworkGroup.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='surfingNetworkGroup')
          | {{ 'label.surfingNetworkGroup' | translate }}
        select(id='surfingNetworkGroup', name='surfingNetworkGroup', required='', ng-model='plan.surfingNetworkGroup',
        ng-options='networkGroup.id as networkGroup.name for networkGroup in networkGroups')
        span.error.required(ng-show='passDetailForm.surfingNetworkGroup.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='purchaseStartDate')
          | {{ 'label.purchaseStartDate' | translate }}
        input#purchaseStartDate(name='purchaseStartDate', type='text', required='', ng-model='pass.purchaseStartDate', server-validation='')
        span.error.required(ng-show='passDetailForm.purchaseStartDate.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='purchaseEndDate')
          | {{ 'label.purchaseEndDate' | translate }}
        input#purchaseEndDate(name='purchaseEndDate', type='text', required='', ng-model='pass.purchaseEndDate', server-validation='')
        span.error.required(ng-show='passDetailForm.purchaseEndDate.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='validityTerm')
          | {{ 'label.validityTerm' | translate }}
        input(id='validityTerm', name='validityTerm', type='text', required='', ng-model='plan.validityTerm')
        span.error.required(ng-show='passDetailForm.validityTerm.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
        label(for='inactive')
          | {{ 'label.inactive' | translate }}
        input(id='inactive', name='inactive', type='checkbox', required='', ng-model='detail.activationAllowed',
        ng-checked='detail.activationAllowed')
        span.error.required(ng-show='passDetailForm.inactive.$error.required && passDetailForm.$dirty')
          | * {{ 'label.required' | translate }}
      a.btn.btn-primary.pull-right(ng-click='ctrl.addNewPass()')
        | {{ 'label.save' | translate }}

